@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
}
