<h1 style="text-align:center">{{title}}</h1>
<div>
  <ul>
    <li *ngIf="!isLogged()" [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/login"]' (click)='collapse()'>
        <span></span> Sign Up / Sign In
      </a>
    </li>
    <li *ngIf="isLogged()"> {{ userType }}</li>
    <li *ngIf="isLogged()" [routerLinkActive]='["link-active"]'>      
      <a (click)='logout()'>
        <span></span> Log Out
      </a>
    </li>
</ul>
</div>
<nav *ngIf="userType == 'Admin'" mat-tab-nav-bar [backgroundColor]="background">
  <a mat-tab-link
    (click)="activeLink = 'user'"
    [active]="activeLink == 'user'"
    routerLink = '/user'> Users </a>
  <a mat-tab-link
    (click)="activeLink = 'event'"
    [active]="activeLink == 'event'"
    routerLink = '/event'> Events </a>
</nav>
<nav *ngIf="userType == 'Student'" mat-tab-nav-bar [backgroundColor]="background">
  <a mat-tab-link
    (click)="activeLink = 'resource'"
    [active]="activeLink == 'resource'"
    routerLink = '/resource'> Resources </a>
  <a mat-tab-link
    (click)="activeLink = 'event'"
    [active]="activeLink == 'event'"
    routerLink = '/event'> Events </a>
</nav>
<nav *ngIf="userType == ''"></nav>
<div class="footer">
  <p>IT Academy - 2020</p>
</div>
<router-outlet></router-outlet>